tickTime={{ zk_tick_time }}
dataDir={{ zk_data_dir }}
dataLogDir={{ zk_log_dir }}
clientPort={{ zk_client_port }}
initLimit={{ zk_init_limit }}
syncLimit={{ zk_sync_limit }}

{% if 'zookeeper_servers' in groups -%}

{% for host in groups.zookeeper_servers -%}

{% if  ansible_default_ipv4['address']  == hostvars[host]['ansible_default_ipv4']['address'] -%}
server.{{ hostvars[host].zk_id }}=0.0.0.0:2888:3888
{% else -%}
server.{{ hostvars[host].zk_id }}={{ hostvars[host]['ansible_fqdn']}}:2888:3888
{% endif -%} 

{% endfor -%}

{% else -%}{# no hosts defined, assume 1 node -#}
server.1=0.0.0.0:2888:3888
{% endif -%}
